.main4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 300px;
    margin-bottom: 100px;
}
.main4-left {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.main4-right {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.main4-p {
    width: 450px; 
    font-size: 16px;
    font-weight: 400;    
    font-family: "Poppins";
    color: #FFFFFF8C;
}
.main4-img {
    width: 400px;
    height: 490px;
}