.button2 {
    padding: 10px 20px;
    background-color: transparent;
    color: #FF6E30;
    border: 1px  solid #FFFFFF1A;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
    margin-left: 550px;
}

.button2:hover {
    background-color: #FDF5FF;
    color: #FF6E30; 
    transition: all 0.3s ease-in-out;
}