form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    gap: 10px;
    height: 64px;
    padding: 10px;
    background-color: #283036;
    border-radius: 15px;
    border: 1.5px solid #FFFFFF1A;
}

input {
    width: 100%;
    padding: 10px 20px;
    font-family: "Poppins";
    font-weight: 500;
    background-color: transparent;
    color: #FFFFFF61;
}
form button {
    width: 150px;
}